{% extends 'Store/base.html' %}
{% load static %}

{% block content %}

        <!--Acount Area Start -->
        <section class="account">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Dashboard-Nav  Start-->
                        <div class="dashboard-nav">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="/dashboard" >Account
                                        settings</a></li>
                                <li class="list-inline-item"><a href="/password_change" class="active">Change Password</a></li>
                     
                                <li class="list-inline-item"><a href="/signout">Logout</a></li>
                               
                            </ul>
                        </div>
                        <!-- Dashboard-Nav  End-->
                    </div>
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="change-password">
                            <h6>Change password</h6>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form__div">
                                    <input type="password" class="form__input"id="id_old_password" name="old_password"  required="true" placeholder=" ">
                                    <label for="" class="form__label">Old password</label>
                                </div>
                                <div class="form__div">
                                    <input type="password" class="form__input" id="id_new_password1" name="new_password1"  required="true" placeholder=" ">
                                    <label for="" class="form__label">New password</label>
                                </div>
                                <div class="form__div mb-40">
                                    <input type="password" class="form__input" id="id_new_password2" name="new_password2"  required="true"  placeholder=" ">
                                    <label for="" class="form__label">Confirm password</label>
                                </div>
                                <button type="submit" class="btn bg-primary"> Change Password</button>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                    <p style="color:red;">{{error}}</p>
                                    {% endfor %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Acount Area End -->

    </main>

   {% endblock content %}