{% extends 'Store/base.html' %}
{% load static %}

{% block content %}

        <!--Acount Area Start -->
        <section class="account">
            <div class="container">
              
                    
                    <div class="col-lg-6 col-md-12">
                        <div class="change-password">
                            <h6>Reset password</h6>
                            <form method="POST">
                                {% csrf_token %}
                              
                                <div class="form__div">
                                    <input type="password" class="form__input" id="id_new_password1" name="new_password1"  required="true" placeholder=" ">
                                    <label for="" class="form__label">New password</label>
                                </div>
                                <div class="form__div mb-40">
                                    <input type="password" class="form__input" id="id_new_password2" name="new_password2"  required="true"  placeholder=" ">
                                    <label for="" class="form__label">Confirm  password</label>
                                </div>
                                <button type="submit" class="btn bg-primary"> Reset Password</button>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                    <p style="color:red;">{{error}}</p>
                                    {% endfor %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--Acount Area End -->

    </main>

   {% endblock content %}