{% extends 'Store/base.html' %}
{% load static %}

{% block content %}
<section class="forget-password">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="account-sign-in">
                    <h5 class="text-center modi-sm">Password Reset</h5>
                    <p class="text-center modi-sm">We've emailed you instructions for setting your password,<br> if an account exists with the email you entered. You should receive them shortly.
                        <br>If you don't receive an email, please make sure you've entered the address you registered with,<br> and check your spam folder.</p>
                    
                </div>
            </div>     
        </div>    
    </div>
</section>
{% endblock content %}