{% extends 'Store/base.html' %}
{% load static %}

{% block content %}
<section class="forget-password">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="account-sign-in">
                    <h5 class="text-center modi-sm">Password Reset Complete!</h5>
                    <p class="text-center modi-sm">Your password has been set. You may go ahead and log in now</p>
                    <a class="btn bg-primary" href="/signin">Login</a>
                </div>
            </div>     
        </div>    
    </div>
</section>
{% endblock content %}