{% extends 'Store/base.html' %}
{% load static %}
{% block content %}


<main>
  <!-- Payment Area Start -->
  <section class="payment-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <!-- Dashboard-Nav Starts Here -->
                  <div class="dashboard-nav">
                      <ul class="list-inline">
                          <li class="list-inline-item"><a href="/billing">Delivery
                                  information</a>
                              <i class="fas fa-angle-right"></i></li>
                          <li class="list-inline-item"><a href="/shipping">Shipping</a> <i
                                  class="fas fa-angle-right"></i></li>
                          <li class="list-inline-item"><a href="/payment" class="mr-0 active">Payment</a></li>
                      </ul>
                  </div>
                  <!-- Dashboard-Nav Ends Here -->
              </div>
          </div>
          <div class="row">
              <div class="col-lg-7 order-2 order-lg-1">
                  <div class="shipping-info-form">
                      <div class="shipping-info-form-text">
                            <h6>Your information</h6>
                            <div class="shipping-info mod">
                                <div class="shipping-info-text">
                                    <div class="left">
                                        <span>Contact:</span>
                                    </div>
                                    <div class="right mar-5">
                                        <p>{{delivery.email}}</p>
                                        <p>{{delivery.phone}}</p>
                                    </div>
                                </div>
                                <div class="shipping-info-button">
                                    
                                        <a href="{% url 'Store:billing' %}">Change</a>
                                    
                                </div>
                            </div>
                            <div class="shipping-info mod">
                                <div class="shipping-info-text">
                                    <div class="left">
                                        <span>Ship to:</span>
                                    </div>
                                    <div class="right mar-5">
                                        <p>{{delivery.address}}</p>
                                        <p>{{ delivery.city }}</p>
                                    </div>
                                </div>
                                <div class="shipping-info-button">
                                        <a href="{% url 'Store:billing' %}">Change</a>
                                </div>
                            </div>
                        </div>
                  </div>
              </div>
              <div class="col-lg-5 order-1 order-lg-2">
                  <div class="card-price">
                      <h6>Cart Summary</h6>
                      <div class="card-price-list d-flex justify-content-between align-items-center">
                         
                      </div>
                      <div class="card-price-list d-flex justify-content-between align-items-center">
                          
                      </div>
                      <div class="card-price-list d-flex justify-content-between align-items-center">
                         
                      </div>
                      <div class="card-price-list d-flex justify-content-between align-items-center">
                          
                      </div>
                      <div class="card-price-subtotal d-flex justify-content-between align-items-center">
                          <div class="total-text">
                              <p>Total Price</p>
                          </div>
                          <div class="total-price">
                              <p>{{order.total}}</p>
                          </div>

                      </div>
                  </div>
              </div>
            
          </div>
          <div class="row">
              <div class="col-lg-7">
                  <div class="payment-area-payment">
                     
                        <label>
                            <input type="radio" name="payment-option" value="paypal" checked>
                            <img src="{% static '/dist/images/paypal-logo.png'%}" alt="Pay with Paypal">
                        </label>
                        <br>
                        <label>
                            <input type="radio" name="payment-option" value="card">
                            <img src="{% static '/dist/images/mastercard-logo.jpg'%}" alt="Accepting Visa, Mastercard, Discover and American Express">
                        </label>

                        <div id="paypal-button-container"></div>
                        <div id="card-button-container" class="hidden"><button>Continue</button></div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Payment Area End -->
</main>

    

    

<script src="https://www.paypal.com/sdk/js?client-id=AeyCau3yTLx6G8Ig43g_g_68pHLJrxq25AQTgJMzFp9CFDF53EWCtMh07mZm9QrM6p-S3-zPRlLbSPOQ
&currency=USD"></script>

<script>
    var total = '{{order.total}}'
        // Listen for changes to the radio fields
    document.querySelectorAll('input[name=payment-option]').forEach(function(el) {
        el.addEventListener('change', function(event) {

                // If PayPal is selected, show the PayPal button
        if (event.target.value === 'paypal') {
            document.querySelector('#card-button-container').style.display = 'none';
            document.querySelector('#paypal-button-container').style.display = 'inline-block';
        }

                // If Card is selected, show the standard continue button
        if (event.target.value === 'card') {
            document.querySelector('#card-button-container').style.display = 'inline-block';
            document.querySelector('#paypal-button-container').style.display = 'none';
        }
    });
});

        // Hide Non-PayPal button by default
document.querySelector('#card-button-container').style.display = 'none';

        // Render the PayPal button into #paypal-button-container
paypal.Buttons({
        
     // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{ 
                    amount: {
                        value: total
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                completeOrder()
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            },

    style: {
        layout: 'horizontal'
    }
}).render('#paypal-button-container');
</script>



{% endblock content %}